<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listing.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="left-group">
            <div class="logo">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/Logo.png') }}" alt="A fox with closed eyes as Logo"></a>
            </div>
            
            <form class="search-container">
                <input type="text" placeholder="Pesquisar...">
                <button>🔍</button>
            </form>
            
            <div class="button-home">
                <a href="{{ url_for('listing') }}"><button>Snippets</button></a>
            </div>
        </div>

        <!-- Grupo da direita -->
        <div class="buttons-right">
            <a href="{{ url_for('login') }}"><button>Login</button></a>
            <a href="{{ url_for('register') }}"><button>Registrar</button></a>
        </div>
    </header>

    <div id="main">
        <div id="sub-header">
            <a href="{{ url_for('home') }}"><button> Voltar </button></a>
            <div id="gray-bar"></div>
            <h1 id="snippet-title">Pesquisa: Python</h1>
        </div>
        <!-- FILTRO POR LINGUAGEM -->
        <div class="languages">
            <h2 class="language-filter-text">Filtros:</h2>
            <div class="language-buttons">
                <button id="python-button">Python</button>
                <button id="javascript-button">JavaScript</button>
                <button id="java-button">Java</button>
                <button id="csharp-button">C#</button>
                <button id="all-button">Todos</button>
            </div>
        </div>

        <!-- LISTAGEM DE SNIPPETS -->
        <div class="listing-snippets">

            <a href="{{ url_for('snippet') }}">
                <div class="snippet-resume" data-language="python">
                    <h3 class="snippet-resume-title">Exemplo Python</h3>
                    <p class="snippet-resume-description">Faz isso e aquilo em Python.</p>
                    <img src="{{ url_for('static', filename='img/python.png') }}" alt="" class="snippet-resume-language-logo">
                    <div class="snippet-resume-like">
                        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                        <p>500</p>
                    </div>
                    <div class="snippet-resume-deslike">
                        <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                        <p>20</p>
                    </div>
                </div>
            </a>
            <a href="{{ url_for('snippet') }}">
                <div class="snippet-resume" data-language="javascript">
                    <h3 class="snippet-resume-title">Exemplo JS</h3>
                    <p class="snippet-resume-description">Faz isso e aquilo em JavaScript.</p>
                    <img src="{{ url_for('static', filename='img/javascript.png') }}" alt="" class="snippet-resume-language-logo">
                    <div class="snippet-resume-like">
                        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                        <p>500</p>
                    </div>
                    <div class="snippet-resume-deslike">
                        <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                        <p>20</p>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('snippet') }}">
                <div class="snippet-resume" data-language="java">
                    <h3 class="snippet-resume-title">Exemplo Java</h3>
                    <p class="snippet-resume-description">Faz isso e aquilo em Java.</p>
                    <img src="{{ url_for('static', filename='img/java.png') }}" alt="" class="snippet-resume-language-logo">
                    <div class="snippet-resume-like">
                        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                        <p>500</p>
                    </div>
                    <div class="snippet-resume-deslike">
                        <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                        <p>20</p>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('snippet') }}">
                <div class="snippet-resume" data-language="csharp">
                    <h3 class="snippet-resume-title">Exemplo C#</h3>
                    <p class="snippet-resume-description">Faz isso e aquilo em C#.</p>
                    <img src="{{ url_for('static', filename='img/csharp.png') }}" alt="" class="snippet-resume-language-logo">
                    <div class="snippet-resume-like">
                        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                        <p>500</p>
                    </div>
                    <div class="snippet-resume-deslike">
                        <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                        <p>20</p>
                    </div>
                </div>
            </a>

            <a href="{{ url_for('snippet') }}">
                <div class="snippet-resume" data-language="csharp">
                    <h3 class="snippet-resume-title">Exemplo C#</h3>
                    <p class="snippet-resume-description">Faz isso e aquilo em C#.</p>
                    <img src="{{ url_for('static', filename='img/csharp.png') }}" alt="" class="snippet-resume-language-logo">
                    <div class="snippet-resume-like">
                        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                        <p>500</p>
                    </div>
                    <div class="snippet-resume-deslike">
                        <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                        <p>20</p>
                    </div>
                </div>
                
            </a>

            <a href="{{ url_for('snippet') }}">
                <div class="snippet-resume" data-language="csharp">
                    <h3 class="snippet-resume-title">Exemplo C#</h3>
                    <p class="snippet-resume-description">Faz isso e aquilo em C#.</p>
                    <img src="{{ url_for('static', filename='img/csharp.png') }}" alt="" class="snippet-resume-language-logo">
                    <div class="snippet-resume-like">
                        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                        <p>500</p>
                    </div>
                    <div class="snippet-resume-deslike">
                        <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                        <p>20</p>
                    </div>
                </div>
                
            </a>

            <!-- continue adicionando mais snippets aqui -->
        </div>
    </div>
</body>
</html>
