<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/snippet.css') }}">
</head>

<body>
    <header class="navbar">
        <div class="left-group">
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo">
                </a>
            </div>

            <form class="search-container">
                <input type="text" placeholder="Pesquisar...">
                <button>🔍</button>
            </form>

            <div class="button-home">
                <a href="{{ url_for('listing') }}"><button>Snippets</button></a>
            </div>
        </div>

        <div class="buttons-right">
            {% if user %}
            <span style="margin-right:10px;">Olá, {{ user }}</span>
            <a href="{{ url_for('create_snippet') }}"><button>Criar Snippet</button></a>
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
            {% else %}
            <a href="{{ url_for('login') }}"><button>Login</button></a>
            <a href="{{ url_for('register') }}"><button>Registrar</button></a>
            {% endif %}
        </div>
    </header>

    <div id="main">
        <div id="sub-header">
            <a href="{{ url_for('home') }}"><button> Voltar </button></a>
            <div id="gray-bar"></div>
            <h1 id="snippet-title">Como usar a API do Google tradutor</h1>
        </div>
        <div id="content-row">
            <div id="snippet-summary">
                <div id="summary-top">
                    <div id="user">
                        <img src="{{ url_for('static', filename='img/foto_latino_ware.png') }}" alt="" id="snippet-poster-pfp">
                        <h2 id="snippet-author-username">Ygor331</h2>
                    </div>
                    <div id="language">
                        <img src="{{ url_for('static', filename='img/python.png') }}" alt="" id="snippet-language-logo">
                        <h2 id="snippet-language-title">Python</h2>
                    </div>
                </div>
                <div id="snippet-description">
                    <h4 class="snippet-subtitle">Descrição</h4>
                    <p class="snippet-summary-text">Este código tem como propósito utilizar a api do google tradutor
                        utilizando do python</p>
                </div>
                <div id="snippet-version">
                    <h4 class="snippet-subtitle">Versao</h4>
                    <p class="snippet-summary-text">Este código tem como propósito utilizar a api do google tradutor
                        utilizando do python</p>
                </div>
                <div id="summary-bottom">
                    <div id="social-medias">
                        <a href=""><img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="" class="social-media-icons"></a>
                        <a href=""><img src="{{ url_for('static', filename='img/x.png') }}" alt="" class="social-media-icons"></a>
                        <a href=""><img src="{{ url_for('static', filename='img/github.png') }}" alt="" class="social-media-icons"></a>
                    </div>
                    <div class="snippet-summary-like">
                        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                        <p>500</p>
                    </div>
                    <div class="snippet-summary-deslike">
                        <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                        <p>20</p>
                    </div>
                </div>

            </div>
            <div id="snippet-code">
                <div id="code">
                    <p>from googletrans import Translator

                        translator = Translator() # initalize the Translator object

                        translations = translator.translate(['see if this helps', 'tarun'], dest='hi') # translate two
                        phrases to Hindi

                        for translation in translations: # print every translation

                        print(translation.text)</p>
                </div>
                <div id="output">
                    <h4 class="snippet-subtitle">Output esperado:</h4>
                    <p>देखें कि इस मदद करता है</p>
                </div>
            </div>
        </div>
        <div id="snippet-comments-container">
            <div id="snippet-comment-input">
                <input type="text" placeholder="digite seu comentario...">
            </div>
            <div id="snippet-posted-comments">
                <div class="snippet-comment">
                    <img src="{{ url_for('static', filename='img/foto_latino_ware.png') }}" alt="" class="snippet-comment-pfp">
                    <h2 class="snippet-comment-username">Ygor331</h2>
                    <p class="comment">Muito útil este snippet, adorei!!</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>