<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_unificado.css') }}">
</head>

<body>
    <header class="navbar">
        <div class="left-group">
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo">
                </a>
            </div>

            <form class="search-container" method="POST" action="{{ url_for('listing') }}">
                <input type="text" name="search" placeholder="Pesquisar..."
                    value="{{ request.form.get('search', '') }}">
                <button type="submit">🔍</button>
            </form>

            <div class="button-home">
                <a href="{{ url_for('listing') }}"><button>Snippets</button></a>
            </div>
        </div>

        <div class="buttons-right">
            {% if user %}
            <span style="margin-right:10px;">Olá, {{ user }}</span>
            <a href="{{ url_for('create_snippet') }}"><button>Criar Snippet</button></a>
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
            {% else %}
            <a href="{{ url_for('login') }}"><button>Login</button></a>
            <a href="{{ url_for('register') }}"><button>Registrar</button></a>
            {% endif %}
        </div>
    </header>

    <div id="main">
        <div id="sub-header">
            <a href="{{ url_for('home') }}"><button> Voltar </button></a>
            <div id="gray-bar"></div>
            <h1 id="snippet-title">{{ snippet.title }}</h1>
        </div>
        <div id="content-row">
            <div id="snippet-summary">
                <div id="summary-top">
                    <div id="user">
                        <img src="{{ url_for('static', filename='img/foto_latino_ware.png') }}" alt=""
                            id="snippet-poster-pfp">
                        <h2 id="snippet-author-username">{{ user }}</h2>
                    </div>
                    <div id="language">
                        <img src="{{ url_for('static', filename='img/' + snippet.language + '.png') }}" alt=""
                            id="snippet-language-logo">
                        <h2 id="snippet-language-title">{{ snippet.language | capitalize }}</h2>
                    </div>
                </div>
                <div id="snippet-description">
                    <h4 class="snippet-subtitle">Descrição</h4>
                    <p class="snippet-summary-text">{{ snippet.description }}</p>
                </div>
                <div id="snippet-version">
                    <h4 class="snippet-subtitle">Versão</h4>
                    <p class="snippet-summary-text">{{ snippet.version }}</p>
                </div>
                <div id="summary-bottom">
                    <div id="social-medias">
                        {% if snippet.linkedin %}
                        <a href="{{ snippet.linkedin }}"><img src="{{ url_for('static', filename='img/linkedin.png') }}"
                                alt="" class="social-media-icons"></a>
                        {% endif %}
                        {% if snippet.x %}
                        <a href="{{ snippet.x }}"><img src="{{ url_for('static', filename='img/x.png') }}" alt=""
                                class="social-media-icons"></a>
                        {% endif %}
                        {% if snippet.github %}
                        <a href="{{ snippet.github }}"><img src="{{ url_for('static', filename='img/github.png') }}"
                                alt="" class="social-media-icons"></a>
                        {% endif %}
                    </div>
                    <div class="snippet-summary-like">
                        <form method="POST" action="{{ url_for('snippet') }}">
                            <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
                            <button type="submit", name="like" value="1">
                                <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
                            </button>
                        </form>
                        <p>{{ snippet.like }}</p>
                    </div>
                    <div class="snippet-summary-deslike">
                        <form method="POST" action="{{ url_for('snippet') }}">
                            <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
                            <button type="submit" name="deslike", value="1">
                                <img src="{{ url_for('static', filename='img/deslike.png') }}" alt="">
                            </button>
                        </form>
                        <p>{{ snippet.dislike }}</p>
                    </div>
                </div>

            </div>
            <div id="snippet-code">
                <div id="code">
                    <pre><code>{{ snippet.code }}</code></pre>
                </div>
                <div id="output">
                    <h4 class="snippet-subtitle">Output esperado:</h4>
                    <pre>{{ snippet.output }}</pre>
                </div>
            </div>
        </div>
        <div id="snippet-comments-container">
            <div id="snippet-comment-input">
                <form method="POST" action="{{ url_for('snippet') }}" id="commentForm">
                    <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
                    <input type="text" name="comment" id="commentInput" placeholder="Digite seu comentário..."
                        autocomplete="off">
                </form>
            </div>

            <div id="snippet-posted-comments">
                

                {% if comments %}
                    {% for com in comments %}
                        <div class="snippet-comment">
                            <img src="{{ url_for('static', filename='img/foto_latino_ware.png') }}" alt=""
                                class="snippet-comment-pfp">
                            <h2 class="snippet-comment-username">{{com.user_name}}</h2>
                            <p class="comment">{{com.comment}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Nenhum comentario.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>

<script>
    // Pega o input e o form
    const commentInput = document.getElementById("commentInput");
    const commentForm = document.getElementById("commentForm");

    // Quando o usuário aperta Enter dentro do input
    commentInput.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault(); // evita quebra de linha
            if (commentInput.value.trim() !== "") {
                commentForm.submit(); // envia o formulário
            }
        }
    });
</script>

</html>